{% extends 'base_login.html' %}

{% load static %}
{% load widget_tweaks %}

{% block content %}

  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
              <div class="brand-logo">
                <img src="{% static 'custom-admin/images/logo.svg' %}" alt="logo">
              </div>
              <h2>Forgot Password</h2>
              <h6>Enter the confirmation code sent to your email to proceed with resetting your password.</h6>
              {% if form.errors %}
              <p>username or password not correct</p>
              {% endif %}
              <form class="login-form create-password-form" id="create_password_form"  method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <input type="email" class="form-control form-control-lg" name="name" value="{{ request.session.from_email.value }}" id="login-email">
                </div>
                <div class="form-group">
                  <!-- <label for="login-email">Confirmation Code</label> -->
                  <input type="text" id="otp" name="otp" class="form-control form-control-lg" placeholder="Confirmation Code">
                      <div id="otp_result"></div>
                </div>
                <div class="form-group">
                  <!-- <label for="login-email">Confirmation Code</label> -->
                  <input type="password" name="password" id="password" class="form-control form-control-lg" placeholder="New Password">
                </div>
                <div class="form-group">
                  <!-- <label for="login-email">Confirmation Code</label> -->
                  <input type="password" name="password" id="password" class="form-control form-control-lg" placeholder="Confirm New Password">
                </div>
                <div class="mt-3">
                  <button type="submit" name="button" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" id="form_submit">Save</button>
                </div>
                <div class="my-2 d-flex justify-content-between align-items-center">
                  <div class="form-check">
                  </div>
                  <!-- <a href="#" class="auth-link text-black">Check your email for the confirmation code</a> -->
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <div id="password-success" class="modal" tabindex="-1" role="dialog" aria-labelledby="privacy-policyLabel" aria-hidden="true">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <p>Your password has been changed Successfully</p>
          <a href="/accounts/login/">OK</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block scripts_page_specific %}

<script>
    $(document).ready(function(){
        $("#otp").keydown(function(){
            var val=$('#otp').val();
            if(val.length ==6){
                if(val=={{request.session.otp.value}}){
                    $('#otp_result').html('correct');
                } else{
                    $('#otp_result').html('wrong');
                }
            }

        });
        $("#otp").keyup(function(){
            var val=$('#otp').val();
            if(val.length ==6){
                if(val=={{request.session.otp.value}}){
                    $('#otp_result').html('correct');
                } else{
                    $('#otp_result').html('wrong');
                }
            }
        });
        $("#otp").on('paste', function(e) {
          $(e.target).keyup();
        });

        $('#create_password_form').validate({
                   rules:{
                     'username': {
                       required:true,
                       email:true
                     },
                     'otp': {
                         required:true,
                         minlength: 6,
                         maxlength: 6,
                     },
                     'password': {
                       required:true,
                       maxlength: 20,
                       minlength: 5
                      },
                   'password_confirm' : {
                       minlength : 5,
                       equalTo : "#password"
                       },
                   },
                   messages:{
                     'username': {
                       required:"Please Enter Email ID!",
                       email:"Please Enter Valid Email ID"
                     },
                     'otp':{
                         required:'Please Enter OTP!',
                         maxlength:'Please Enter Valid OTP',
                         minlength:'Please Enter Valid OTP'
                     },
                     'password': {
                       required:"Please Enter Password!",
                       minlength:'Please Enter Minimum 5 Letters',
                       maxlength:"Please Enter below 20 Letters"
                       },
                       'password_confirm': {
                         required:"Please Enter Password!",
                         equalTo:'Password Not Matching'
                         },
                   },
                 });

                    $(document).on('submit', '#create_password_form',function(e){
                         e.preventDefault();
                        $.ajax({
                            type:'POST',
                            url:"/accounts/password/",
                            data:{
                                otp:$('#otp').val(),
                                password:$('#password').val(),
                                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                                action: 'post'
                            },
                            success:function(json){
                                if(json.status=='1'){
                                    $("#password-success").show();
                                    console.log('done');
                                } else {
                                    alert(json.message);
                                }
                            },
                            error : function(xhr,errmsg,err) {
                            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                        }
                        });
                    });


    });
</script>
{% endblock %}
