{% extends 'base_dashboard.html' %}


{% load static %}
{% block content %}
<div class="content-wrapper">
  <div class="row">
    {% for menu in menu_list %}
    <div class="col-md-3 grid-margin">
      <div class="card-deck">
        <div class="card text-center">
          <img class="card-img-top" src={{menu.menu_image.url}} style="height: 25vh;width: 100%;" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{menu.dish_name}}</h5>
            <p class="card-text" style="text-align: center;"></p>
            <p class="card-text"><small class="text-muted"></small></p>
            <a href="{% url 'dashboard:menu_update' menu.id %}" class="btn btn-primary">Update</a>
            <a href="{% url 'dashboard:menu_delete' menu.id %}" class="btn btn-danger">Delete</a>
          </div>
        </div>
        </div>
      </div>
      {% endfor %}
  </div>
</div>
{% endblock %}
