{% extends 'base_dashboard.html' %}

{% load widget_tweaks %}
{% load static %}
{% block content %}
<div class="content-wrapper">
  <div class="row">
    <div class="col-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Create Menu</h4>
          <!-- <p class="card-description">
            Use the <code>.form-inline</code> class to display a series of labels, form controls, and buttons on a single horizontal row
          </p> -->
          <form class="forms-sample" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
              {% render_field form.category class="form-control" placeholder="Enter Category Name" %}
              {{ form.category.errors }}
            </div>
            <div class="form-group">
              {% render_field form.dish_name class="form-control" placeholder="Enter Dish Name" %}
              {{ form.dish_name.errors }}
            </div>
            <div class="form-group">
              {% render_field form.price class="form-control" placeholder="Enter Price" %}
              {{ form.price.errors }}
            </div>
            <div class="form-group">
              {% render_field form.description class="form-control" placeholder="Enter Discription" %}
              {{ form.description.errors }}
            </div>
            <div class="form-group">
              <label>File upload</label>
              <div class="input-group col-xs-12">
                {% render_field form.menu_image class="file-upload-default" placeholder="Enter Category Name" %}
                {{ form.menu_image.errors }}
                <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
                <span class="input-group-append">
                  <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                </span>
              </div>
            </div>
            <div class="form-check mx-sm-2">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Create Menu</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
