{% extends 'base_dashboard.html' %}


{% load static %}
{% block content %}
<div class="content-wrapper">
  <div class="row">
    {% for img in qr_images %}
    <div class="col-md-2 grid-margin">
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src={{img.image_path}} alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text" style="text-align: center;">{{img.image_name}}</p>
            <p class="card-text"><small class="text-muted"></small></p>
          </div>
        </div>
        </div>
      </div>
      {% endfor %}
  </div>
</div>
{% endblock %}
